.inputForSettings {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 50%;
}

.inputTitle {
  font-weight: 600;
  font-size: 35px;
  color: deepskyblue;
}

.input {
  width: 30%;

  font-size: 35px;
  text-align: center;

  border: 2px solid deepskyblue;
  border-radius: 5px;
  outline: none;
}

.error {
  border: 2px solid red;
  background-color: #f88787;
}
